@use"../function/_mixin.scss" as *;

.hamburger-menu{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: px-clamp(75,100,375,2000);
  height: px-clamp(75,100,375,2000);

  &__line{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    width: px-clamp(35,50,375,2000);
    height: px-to-rem(2px);
    transition: .3s;
  }
  &__line:nth-child(1){
    top: calc(50% - 11px);
    @include responsive("tablet"){
    top: calc(50% - 14px);
    }
  }
  &__line:nth-child(3){
    top: calc(50% + 11px);
    @include responsive("tablet"){
    top: calc(50% + 14px);
    }
  }
}
// 状態変化
.hamburger-menu.is-active > .hamburger-menu__line:nth-child(1),
.hamburger-menu.is-active > .hamburger-menu__line:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu.is-active > .hamburger-menu__line:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.hamburger-menu.is-active > .hamburger-menu__line:nth-child(2){
  opacity: 0;
}
