<section class="cta">
   <div class="container">
    <h4 class="cta__head">まずは無料で、BBBの英会話を試してみませんか？</h4>
    <span class="cta__subhead">今なら初月のレッスンを特別価格で受講できる割引クーポンをプレゼント！</span>
    <div class="cta__btn">
        <a class="btn--lg theme-btn" href="#">
            無料体験に申し込む
        </a>
    </div>
   </div>

</section>