<div class="mv">
   <!-- 写真 -->
    <div class="mv__fade">
        <figure><img width="1050" height="720" src="../img/mainvisual1.jpg" alt="女子生徒が黒板に文字を書く様子"></figure>
        <figure><img width="1050" height="720" src="../img/mainvisual2.jpg" alt="髪の長い女性講師と女子生徒がマンツーマンで指導している様子"></figure>
        <figure><img width="1050" height="720" src="../img/mainvisual3.jpg" alt="ノートパソコンの前でヘッドホンをつけ、鉛筆を持ちながらオンライン授業をしている笑顔の女子生徒"></figure>
    </div>

    <div class="mv__desc">
        <h2 class="mv__title theme-mv-title">
            話して学ぼう！ <br>
            BBB英会話スクール
        </h2>
        <div class="mv__btn">
            <a class="btn theme-btn" href="#">
                無料体験はこちら
                <span class="btn-arrow theme-btn-arrow"></span>
            </a>
        </div>
    </div>
</div>