<section id="reason" class="reason">
    <h3 class="section-title theme-section-title">BBBが選ばれる理由</h3>
    <div class="reason__body theme-reason__bg">
       <div class="reason__wrapper">
         <div class="reason__desc theme-reason__desc-bg inview-slide-left">
            <div class="reason__desc-wrapper">
                <figure class="reason__image">
                    <img width="87" height="60" src="../img/icon-pc.png" alt="オンライン対応、24時間いつでも受講可能なノートパソコンのアイコン">
                </figure>
                <div class="reason__text-body">
                    <h4 class="reason__title theme-reason__title">オンライン対応</h4>
                    <p class="reason__text">
                        24時間いつでも受講できる！
                    </p>
                </div>
            </div>
         </div>
         <div class="reason__desc theme-reason__desc-bg inview-slide-right">
            <div class="reason__desc-wrapper ">
                <figure class="reason__image">
                    <img width="51" height="60" src="../img/icon-teacher.png" alt="ネイティブ講師を自由に選べることを示す人物アイコン">
                </figure>
                <div class="reason__text-body">
                    <h4 class="reason__title theme-reason__title">講師はネイティブ</h4>
                    <p class="reason__text">
                        お気に入りの講師が自由に選べる！
                    </p>
                </div>
            </div>
         </div>
       </div>
    </div>
</section>