<div class="bg theme-bg">
    <div class="bg__circle theme-bg-circle"></div>
    <div class="bg__circle theme-bg-circle"></div>
    <div class="bg__circle theme-bg-circle"></div>
    <div class="bg__circle theme-bg-circle"></div>
    <div class="bg__circle theme-bg-circle"></div>
    <div class="bg__circle theme-bg-circle"></div>
</div>